body { 
  margin: 0; 
  padding: 0; 
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
  color: #1b1b1b;
}

#section01 {
  position: relative;
  width: 100%;
  height: auto;
}

#section02 {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-color:#002E71;
  text-align: center;
}
#section02 > h2 { /* id가 section02인 요소의 자식 중 h2 태그 */
  margin: 0;
  padding-top: 128px;
  padding-bottom: 64px;
  color: #FF00A6;
  font-size: 25px;
}
#section02 > hr { /* id가 section02인 요소의 자식 중 hr 태그 */
  width: 24px;
  background-color: #FF00A6;
  border-width: 0;
  height: 2px;
}

#img-container {
  position: relative;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 128px;
  /* background-color: #D53843; */
  overflow: hidden;
  text-align: center;
}
.cell {
  display: inline-block;
  position: relative;
  width: 30%;
  margin: 0 1%;
  overflow: hidden;
  background-color: red;
}
.overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center; /* 작품제목인 오버레이 텍스트 가운데 정렬 */
  justify-content: center; /* 작품제목인 오버레이 텍스트 가운데 정렬 */
  opacity: 0;
  transition: .3s ease; /* 마우스오버 시 opacity 변화에 걸리는 시간을 0.3초로 설정 */
  background-color: #1b1b1b; /* 오버레이 배경색 */
  color: #ffffff;
}
.cell:hover .overlay {
  opacity: 0.7;
}
.cell > img { /* 클래스가 cell인 요소의 자식 중 img 태그에 적용. 작품이미지에 적용되는 스타일 */
  width: 100%;
  height: auto;
  margin-bottom: -4px; /* ??? */
}

#section03 {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  background-color: #D53843;
  text-align: center;
}
#section03 > h3 { /* id가 section03인 요소의 자식 중 h3 태그 */
  margin: 0;
  padding-top: 128px;
  padding-bottom: 40px;
  color:gold;
  font-size: 25px;
}
#section03 > hr { /* id가 section03인 요소의 자식 중 hr 태그 */
  width: 24px;
  background-color: gold;
  border-width: 0;
  height: 2px;
}

.box {
  width: 110px;
  height: 110px; 
  border-radius: 70%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px;
}
.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#text {
  height:auto;
  width: 220px;
  padding-top: 10px;
  font-size: 12px;
  text-align: auto;
  margin: auto;
  color: gold;
}
#text .pro {
    text-align: left;
}

#text .end {
  text-align: left;
}

#footer {
    margin-top: 8px;
    padding-top: 90px;
    padding-left: 150px;
    padding-bottom: 50px;
    font-size: 12px;
    text-align: left;
    color: #000000;
    background-color: #ffffff;
  }

.aa {
  padding-right: 30px;
  }